* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 1.25rem;

}

body {
    height: 100vh;
    background: cyan;
    display: flex;
    flex-direction: column;
    overflow-x: none;
}

#header {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    padding: 1rem;
}

#title {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 1rem;
}

#header-img {
    width: 100px;
    height: 40px;
    object-fit: cover;
}



#nav-bar {
    display: flex;
    width: fit-content;
    gap: 1rem;
}

#nav-bar a {
    text-decoration: none;
    color: rgb(0, 184, 184);
    font-weight: 600;
}

#nav-bar a:hover {
    color: cyan;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

#about-container {
    width: 400px;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#video-container {
    width: 600px;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-container {
    width: 600px;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#email-element {
    position: relative;
}

form i {
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 1.5rem;
    color: gray;
}

input[type=email] {
    width: 300px;
    padding: 10px 40px;
}

input[type=submit] {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
  }
  
  input[type=submit]:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
  }

footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (min-width: 640px) {

    #header {
        flex-direction: row;
        justify-content: space-between;
    }

    #about-container {
        width: 600px;
    }

    iframe {
        width: 560px; 
        height: 315px; 
    }
}


